<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @page_title || 'Go Creative' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS  -->
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Favicons (Customize)
    ================================================== -->
    <%= favicon_link_tag 'img/favicon.ico', rel: 'shortcut icon' %>
    <%= favicon_link_tag 'img/apple-touch-icon.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'img/apple-touch-icon-72x72.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'img/apple-touch-icon-114x114.png', rel: 'apple-touch-icon' %>

    <%= csrf_meta_tags %>

  </head>