<% @page_title = 'Go Creative: Home Page' %>

<div class="row headline"><!-- Begin Headline -->
  
  <!-- Slider Carousel
  ================================================== -->
  <div class="span8">
    <div class="flexslider">
      <ul class="slides">
        <!-- 770x354 -->
        <li><a href="#"><%= image_tag 'img/gallery/home-2.jpg', alt: 'slider' %></a></li>
        <li><a href="#"><%= image_tag 'img/gallery/home-3.jpg', alt: 'slider' %></a></li>
        <li><a href="#"><%= image_tag 'img/gallery/home-1.jpg', alt: 'slider' %></a></li>
      </ul>
    </div>
  </div>

  <!-- Headline Text
  ================================================== -->
  <div class="span4">
    
    <h3 class="text-special">Go Creative! Get Started!</h3>
    <p class="lead" style="text-align: justify;">GoCreative is a crowdfunding platform where you can start a donation campaign or an investment project.</p>
    <p style="text-align: justify;">Best way to attract contributors is to be creative while starting the project. Provide images, add descriptions, video, etc to enhance the look and feel of your project.</p>
    <a href="#"><i class="icon-plus-sign"></i>Read More</a> 
  </div>

  <!-- Best Projects
  ================================================== -->
  <div class="span12">
  <%= render partial: 'project_listings', locals: { projects: @recent_projects, message: 'Recent Projects', path: projects_path(sort_by: :recent, order_by: :desc) } %>
  <%= render partial: 'project_listings', locals: { projects: @popular_projects, message: 'Popular Projects', path: projects_path(sort_by: :popularity, order_by: :desc) } %>
  <%= render partial: 'project_listings', locals: { projects: @completed_projects, message: 'Our Successful Projects', path: projects_completed_path } %>
  </div>

</div><!-- End Headline -->     

<!-- JS --> 
<% content_for :javascripts do %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
<% end %>        
