<% if @contributors.present? %>
  <table class="table table-striped" id="projectComments">
    <thead>
      <tr>
        <th>ID</th>
        <th>By</th>
        <th>Email</th>
        <th>Amount</th>
        <th>On</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @contributors.each do |contributor| %>
        <tr data-project-id="<%= @project.id %>" data-contributor-id="<%= contributor.id %>">
          <td style="width:25px"><%= contributor.id %></td>
          <td>
            <% if(contributor.user) %>
              <%= link_to contributor.user.name, admin_user_path(contributor.user_id) %>
            <% end %>
          </td>
          <td><%= contributor.user.email %></td>
          <td><%= number_to_currency(contributor.amount, unit: 'INR ', precision: 0) %></td>
          <td><%= contributor.created_at.to_s(:short) %></td>
          <td><%= contributor.state.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="missing">This project has not received any contributions yet.</p>
<% end %>
