<tr>
  <td><%= project.title %></td>
  <td><%= humanize_sti_class(project.type) %></td>
  <td><%= number_to_currency(project.amount_required, unit: 'INR ') %></td>
  <td><a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= project.user.email %>"><%= project.user.name %></a></td>
  <td><%= project.created_at.to_s(:short) %></td>
  <td><%= project.end_date.to_s(:long) %></td>
  <td>
    <%= link_to (button_tag 'View'), admin_project_path(project) %>
    <% if !project.verified_at %>
      <%= link_to (button_tag 'Publish'), admin_project_publish_path(project), remote: true, data: { project_id: project.id }, class: 'publish' %>
    <% else %>
      <%= link_to (button_tag 'Unpublish'), admin_project_unpublish_path(project), remote: true, data: { project_id: project.id }, class: 'publish' %>
    <% end %>
  </td>
</tr>