<div class="span4 project-listing">
  <% #FIXME_AB: project.project_picture => project.picture. -%>
  <a href="<%= project_path(project) %>"><%= image_tag project.project_picture.url(:medium) %></a>
  <span class="project-details">
    <h5 title="<%= project.title %>"><a href="<%= project_path(project) %>"><%= truncate(project.title, length: 57) %></a></h5>
    <div class="description-fixed"><%= truncate(project.description, length: 200) %></div>
    <div class="progress" style="height: 7px">
      <div class="bar bar-success" role="progressbar" style="width: 20%;">
        <!-- <span>60% Complete of INR <%= project.amount_required %></span> -->
      </div>
    </div>
    Target: <%= number_to_currency(project.amount_required, unit: 'INR ', precision: 0) %>
    <span class="pull-right">By <%= project.end_date.to_date.to_s(:short) %></span>
  </span>
  <% if @project.try(:user_id) == @user.try(:id) %>
    <!-- <center><strong><span class="text-info">Your are the owner of this project</span></strong></center> -->
  <% end %>
  <%= link_to (button_tag 'Explore', class: 'btn btn-small btn-block btn-info'), project_path(project) %>
</div>
