<div class="span4 sidebar">

  <!--Starter Info-->
  

  <!--Project Info-->
  <center><h6 class="title-bg">
    
        <%= image_tag 'site/user_profile1.png' %>
        <p class="title-bg text-special">Project Starter: <%= @project.user.first_name%></p>
      
    <div class="progress" style="height: 10px">
      <div class="bar bar-success animate" data-animate="progress" rel="tooltip" title="<%= @project.percentage_completed %>" data-progress-complete="<%= @project.percentage_completed %>" role="progressbar">
        <!-- <span>60% Complete of INR <%= @project.amount_required %></span> -->
      </div>
    </div>
    <center>
    <span class="multi-span">Collected <br /><span class="text-special">INR 0</span></span>
    <span class="multi-span">Contributors <br /><span class="text-special">0</span></span>
    <span class="multi-span">Target <br /><span class="text-special"><%= number_to_currency(@project.amount_required, unit: 'INR ', precision: 0) %></span></span>
    <span class="multi-span">Ends <br /><span class="text-special"><%= @project.end_date.to_date.to_s(:short) %></span></span></span>
  </center>
    <br class="clear" />
  </h6></center>

  <% if @project.user != current_user %>
    <%= form_for(@project, url: new_project_contribution_path(@project), method: :get, html: { class: 'form-horizontal' }) do |f| %>
      <div class="input-prepend">
        <span class="add-on-block">INR</span>
        <%= f.number_field :min_amount_per_contribution, class: 'input-block', placeholder: 'Contribute', required: true, step: 100, max: 10000000 %>
      </div>

      <div class="control-group">
        <p>Min amount required: INR <%= @project.min_amount_per_contribution %></p>
        <%= f.submit contribute_button_text(@project.type), class: 'btn btn-success btn-large btn-block' %>
      </div>
    <% end %>
  <% elsif !@project.published? && @project.user_id == current_user.id %>
    <%= link_to (button_tag 'Edit', class: 'btn btn-info btn-large btn-block'), edit_project_path(@project) %>
  <% end %>

  <!--Categories-->
  <h5 class="title-bg">Inquiry</h5>
  <ul class="post-category-list">
    <li><a href="#"><i class="icon-plus-sign"></i>Gifts</a></li>
    <li><a href="#"><i class="icon-plus-sign"></i>Contact Project Starter</a></li>
    <li><a href="#"><i class="icon-plus-sign"></i>FAQs</a></li>
  </ul>

  <!--Tabbed Content-->
  <h5 class="title-bg">More Info</h5>
  
</div>
