<% @page_title = 'Go Creative: View Project' %>

<% if !@project.published? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <center><strong>Your project has not been published yet.</strong></center>
  </div>
<% end %>
  
<!-- Blog Content
  ================================================== --> 
  <div class="row"><!--Container row-->

        <!-- Blog Full Post
        ================================================== --> 
        <div class="span8 blog">

          <!-- Blog Post 1 -->
          <article>
            <h3 class="title-bg"><%= @project.title %></h3>
            <div class="post-content">
              <%= image_tag @project.project_picture.url(:large) %>
            </div>
          </article>

          <div>
            <h4 class="title-bg">Project Description</h4>
            <p class="lead"><%= @project.description %></p>
          </div>

          <!-- About the Author -->
          <section class="post-content">
            <div class="post-body about-author">
              <%= image_tag 'img/author-avatar.jpg', alt:'author' %>
              <h4>About Nathan Brown</h4>
              Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.
            </div>
          </section>

        <!-- Gallery
        ================================================== --> 
        <%= render 'project_gallery' %>

        <!-- Post Comments
        ================================================== --> 
        <%= render 'project_comments' %>

      </div><!--Close container row-->

        <!-- Sidebar
        ================================================== --> 
        <%= render 'project_sidebar' %>
      </div>
      
    </div> <!-- End Container -->

<!-- JS --> 
<% content_for :javascripts do %>
  <%= javascript_include_tag 'content_loader', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'comment', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'comments_page', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'embed_video', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'project_show', 'data-turbolinks-track' => true %>
<% end %> 