<div class="span4 col-md-6 "></div>
  <div class="formContainer span4 col-md-6 ">
    <h2>Payment Page</h2>

    <%= form_for(@contribution, url: project_contributions_path, method: :post) do |f| %>
      <div class="field">
        <%= f.number_field :amount, autofocus: true, class: 'form-control input-block-level', placeholder: 'Amount to Contribute*', required: true, minimum: @project.min_amount_per_contribution, max: @project.amount_required %>
      </div>
      <div class="field">
        <%= f.select :card_type, [['Visa', 'visa'], ['MasterCard', 'master']], class: 'form-control input-block-level', required: true %>
      </div>
      <div class="field">
        <%= f.number_field :card_number, class: 'form-control input-block-level', placeholder: 'Your card number*', required: true %>
      </div>
      <div class="field">
        <%= f.number_field :card_verification, class: 'form-control input-block-level', placeholder: 'CVV*', required: true %>
      </div>
      <div class="field">
        <%= f.date_select :card_expires_on, discard_day: true, start_year: Date.today.year, end_year: (Date.today.year+20), add_month_numbers: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Confirm Payment', class: 'btn btn-inverse btn-block' %>
      </div>
    <% end %>

</div>
