<% if @contributions.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Contributed For</th>
        <th>Contributed On</th>
        <th>Amount Contributed</th>
        <th>Current Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contributions.each do |contribution| %>
        <tr data-project-id="<%= contribution.project_id %>">
          <td><%= contribution.id %></td>
          <td><%= link_to contribution.project.title, admin_project_path(contribution.project_id) %></td>
          <td><%= contribution.created_at.to_s(:short) %></td>
          <td><%= number_to_currency(contribution.amount, unit: Constants::DEFAULT_CURRENCY, precision: 0) %></td>
          <td><%= contribution.state.humanize %></td>
          <td>
            <button class="transactions-detail" data-contribution-id="<%= contribution.id %>" data-path="<%= admin_contribution_transactions_path(contribution.id) %>">Details</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="missing">This user has not made any contributions yet</p>
<% end %>

<%= render 'admin/shared/transaction_modal' %>
<div id="transactionModal"></div>
