<h1>TODO: Currently it is just some fake data. Will be update with rest of the stories</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Contribution Transaction ID</th>
      <th>Project Title</th>
      <th>Contributed On</th>
      <th>Status</th>
      <th>Amount Contributed</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr data-project-id="<%= project.id %>">
        <td><%= project.id %></td>
        <td><%= link_to project.title, admin_project_path(project.id) %></td>
        <td><%= project.created_at.to_s(:short) %></td>
        <td><%= project.end_date.to_date.to_s(:long) %></td>
        <td><%= number_to_currency(0, unit: 'INR ', precision: 0) %></td>
        <td>
          <%= link_to (button_tag 'View'), admin_project_path(project.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
