<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#user-details" role="tab" data-toggle="tab">Details</a></li>
      <li role="presentation"><a href="#user-projects" role="tab" data-toggle="tab">Projects Created</a></li>
      <li role="presentation"><a href="#user-contributions" role="tab" data-toggle="tab">Contributions Made</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="user-details">
        <br />
        <%= render 'user_details' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="user-projects">
        <br />
        <%= render 'user_projects' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="user-contributions">
        <br />
        <%= render 'user_contributions' %>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- JS --> 
<% content_for :javascripts do %>
  <%= javascript_include_tag 'content_loader', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'comment', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'comments_page', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_project_view', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_user_detail_page', 'data-turbolinks-track' => true %>
<% end %> 
