<!DOCTYPE html>
<html>
  <%= render 'shared/public_head' %>

  <body class="home">
    <!-- Color Bars (above header)-->
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    <%= render 'shared/flash_message' %>

    <div class="container">
      
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
          <%= link_to (image_tag 'img/go-creative-logo.png'), root_path, method: :get %>
          <h5>Big Dreams... Global Way</h5>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <%= render 'shared/public_navigation' %>
        
      </div><!-- End Header -->
      
      <%= yield %>
      
    </div> <!-- End Container -->

    <!-- Footer Area
    ================================================== -->
    <%= render 'shared/public_footer' %>
    
    <!-- JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascripts %>

  </body>
</html>
