<% if @projects.length > 0 %>
  <div class="row user-projects">
    <% @projects.each do |project| %>
      <div class="span4 project-listing">
        <a href="<%= project_path(project) %>"><%= image_tag project.project_picture.url(:medium) %></a>
        <span class="project-details">
          <h5 title="<%= project.title %>"><a href="<%= project_path(project) %>"><%= truncate(project.title, length: 20) %></a></h5>
          <div class="progress" style="height: 7px" rel="tooltip" title="<%= project.percentage_completed %>% Completed" >
            <div class="bar bar-success" role="progressbar" style="width: <%= project.percentage_completed %>%;">
              <!-- <span>60% Complete of INR <%= project.amount_required %></span> -->
            </div>
          </div>
          <span>Target: <%= number_to_currency(project.amount_required, unit: Constants::DEFAULT_CURRENCY, precision: 0) %></span>
          <br />
          <span>By <%= project.end_date.to_date.to_s(:short) %></span>
        </span>
        <% if @project.try(:user_id) == @user.try(:id) %>
          <!-- <center><strong><span class="text-info">Your are the owner of this project</span></strong></center> -->
        <% end %>
        <%= link_to (button_tag 'Explore', class: 'btn btn-small btn-block btn-info'), project_path(project) %>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 class='text-warning'>Sorry. This user has not started any projects.</h3>
<% end %>