<!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <!-- Page Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->

            <!--Latest News-->
            <h2 class="title-bg">Hi <%= @user.first_name%></h2>
            <center><%= image_tag 'site/user_profile1.png' %></center>
            <br />

            <!--Navigation-->
            <h5 class="title-bg">More Settings</h5>
            <ul class="post-category-list">
                <li><a href="#">Reset my password</a></li>
                <li><a href="#">Delete my account</a></li>
                <li><a href="#">Change Profile Picture</a></li>
            </ul>

            <!--Comments and Messages-->
            <h5 class="title-bg">Messages &amp; Comments</h5> 
            <ul class="popular-posts">
                <li>
                    <%= image_tag 'img/gallery/gallery-img-2-thumb.jpg', alt: 'Popular Post' %></a>
                    <h6><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h6>
                    <em>Posted on 09/01/15</em>
                </li>
            </ul>

            
                

        </div><!-- End sidebar column -->

        <!-- Page Content
        ================================================== --> 
        <div class="span8"><!--Begin page content column-->

            <h2 class="title-bg">Your Account Settings <%= image_tag 'site/account_settings.png', size: '42x42', class: 'pull-right' %></h2>

            <%= form_for(:user, url: account_path, method: :patch, html: { class: 'form-horizontal' }) do |f| %>
            <fieldset>
              <!-- Form Name -->
              <legend>Your Email ID: <span class='text-special'><%= @user.email %></span></legend>

              <div class="control-group">
                <%= f.label :first_name, 'First Name', class: 'control-label' %>
                <div class="controls">
                  <%= f.text_field :first_name, autofocus: true, class: 'input-xlarge', placeholder: 'First Name', size: 16, required: true %>
                </div>
              </div>

              <div class="control-group">
                <%= f.label :last_name, 'Last Name', class: 'control-label' %>
                <div class="controls">
                  <%= f.text_field :last_name, class: 'input-xlarge', placeholder: 'Last Name', size: 16, required: true %>
                </div>
              </div>

              <div class="control-group">
                <%= f.label :phone_number, 'Phone Number', class: 'control-label' %>
                <div class="controls">
                  <%= f.text_field :phone_number, class: 'input-xlarge', placeholder: 'Phone Number', size: 16 %>
                  <p class="help-block">Format: 9999999999</p>
                </div>
              </div>

              <%= f.fields_for :addresses do |addresses_form| %>

                  <div class="control-group">
                    <%= addresses_form.label :full_address, 'Primary Address', class: 'control-label' %>
                    <div class="controls">
                      <%= addresses_form.text_area :full_address, class: 'input-xlarge', placeholder: 'Address', size: 24 %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= addresses_form.label :city, class: 'control-label' %>
                    <div class="controls">
                      <%= addresses_form.text_field :city, class: 'input-xlarge', placeholder: 'City', size: 24 %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= addresses_form.label :pincode, class: 'control-label' %>
                    <div class="controls">
                      <%= addresses_form.number_field :pincode, class: 'input-xlarge', placeholder: 'Pincode', size: 24 %>
                    </div>
                  </div>
                  
                  <div class="control-group">
                    <%= addresses_form.label :state, class: 'control-label' %>
                    <div class="controls">
                      <%= addresses_form.text_field :state, class: 'input-xlarge', placeholder: 'State', size: 24 %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= addresses_form.label :country, class: 'control-label' %>
                    <div class="controls">
                      <%= addresses_form.text_field :country, class: 'input-xlarge', placeholder: 'Country', size: 24 %>
                    </div>
                  </div>

              <% end %>

              <div class="row">
                <div class="span4">
                    <h5>PAN Card Attachment</h5>
                    <p class="text-warning">You have not attached any proof for your PAN card till now. Please provide us the proof if you want to start a project on our website. The details will be kept confidential with us.</p>
                </div>
                <div class="span4">
                    <h5>Address Proof Attachment</h5>
                    <p class="text-warning">You have not attached any proof for your address till now. Please provide us the proof if you want to start a project on our website. The details will be kept confidential with us.</p>
                </div>
            </div>
              <div class="control-group">
                <div class="controls">
                  <%= f.submit 'Save Settings', class: 'btn btn-large btn-inverse' %>
                </div>
              </div>

            </fieldset>
          <% end %>
            

        </div> <!--End page content column--> 

    </div><!-- End container row -->